**/__pycache__/
__pycache__
Assignment_09/galgenmännchen/test.ipynb
Assignment_09/galgenmännchen/gui (old_version).py
Assignment_09/galgenmännchen/utils.py
Assignment_09/galgenmännchen/class_version.py
Assignment_09/galgenmännchen/seq_version.py